#logo {
    position: absolute; /* Remove do fluxo normal e permite posicionamento absoluto */
    top: -60px;        /* Define a distância do topo (ajuste conforme necessário) */
    left: 10px;       /* Define a distância da esquerda (ajuste conforme necessário) */
    width: 380px;      /* Defina a largura da imagem (ajuste conforme necessário) */
    height: auto;     /* A altura se ajustará proporcionalmente */
    z-index: 1000;     /* Garante que a imagem fique acima de outros elementos (opcional) */
}
#fla{
    position: absolute; /* Remove do fluxo normal e permite posicionamento absoluto */
    top: 59%;        /* Define a distância do topo (ajuste conforme necessário) */
    left: 40px;       /* Define a distância da esquerda (ajuste conforme necessário) */
    width: 14%;      /* Defina a largura da imagem (ajuste conforme necessário) */
    height: auto;     /* A altura se ajustará proporcionalmente */
    z-index: 1000;     /* Garante que a imagem fique acima de outros elementos (opcional) */
     cursor: pointer;
 transition: transform 0.3s ease-in-out; /* Transição para a taça também */
}
#fla:hover {
    transform: scale(1.1); /* Cresce a taça em 10% ao passar o mouse */
}
#vasco{
    position: absolute; /* Remove do fluxo normal e permite posicionamento absoluto */
    top: 55%;        /* Define a distância do topo (ajuste conforme necessário) */
    left: 350px;       /* Define a distância da esquerda (ajuste conforme necessário) */
    width: 15%;      /* Defina a largura da imagem (ajuste conforme necessário) */
    height: auto;     /* A altura se ajustará proporcionalmente */
    z-index: 1000;     /* Garante que a imagem fique acima de outros elementos (opcional) */
     cursor: pointer;
 transition: transform 0.3s ease-in-out; /* Transição para a taça também */
}
#vasco:hover {
    transform: scale(1.1); /* Cresce a taça em 10% ao passar o mouse */
}#fogo{
    position: absolute; /* Remove do fluxo normal e permite posicionamento absoluto */
    top: 55%;        /* Define a distância do topo (ajuste conforme necessário) */
    left: 700px;       /* Define a distância da esquerda (ajuste conforme necessário) */
    width: 16.5%;      /* Defina a largura da imagem (ajuste conforme necessário) */
    height: auto;     /* A altura se ajustará proporcionalmente */
    z-index: 1000;     /* Garante que a imagem fique acima de outros elementos (opcional) */
    cursor: pointer;
 transition: transform 0.3s ease-in-out; /* Transição para a taça também */
}
#fogo:hover {
    transform: scale(1.1); /* Cresce a taça em 10% ao passar o mouse */
}
#flu{
    position: absolute; /* Remove do fluxo normal e permite posicionamento absoluto */
    top: 45%;        /* Define a distância do topo (ajuste conforme necessário) */
    left: 950px;       /* Define a distância da esquerda (ajuste conforme necessário) */
    width: 27.2%;      /* Defina a largura da imagem (ajuste conforme necessário) */
    height: auto;     /* A altura se ajustará proporcionalmente */
    z-index: 1000;     /* Garante que a imagem fique acima de outros elementos (opcional) */
    cursor: pointer;
 transition: transform 0.3s ease-in-out; /* Transição para a taça também */
}
#flu:hover {
    transform: scale(1.1); /* Cresce a taça em 10% ao passar o mouse */
}
  /* Código do gradiente */
    body{        
        background: linear-gradient(to bottom, #011b92, #236ef8, #6495ED); /* Gradiente de tons de azul */
            height: 100vh; /* Garante que o gradiente preencha toda a altura da tela */
            margin: 0; /* Remove a margem padrão do body */
            display: flex; /* Para centralizar o conteúdo, se houver */
            justify-content: center;
            flex-direction: column;
            align-items: center;
            color: #333; /* Cor do texto para contraste */
            font-family: sans-serif;
            
        }
        #curso{
             margin-top: -350px;
             font-size: 25px;
            position: relative;
        }
        

        h1 {
            margin-top: 10px; height: auto; 
            font-family: Open sans-serif;
            font-size: 4em; 
            max-width: 80%;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.2); /* Sombra para o texto */
            color: #fcfafa; /* Qual o maior time do Rio */
            
        }

        p {
            font-size: 1.2em;
            max-width: 80%;
            margin: 20px auto;
        }  
        
        